.service-box-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  img {
    width: 70px;
    height: 70px;
  }
  h4 {
    margin-top: 0;
  }
  p {
    min-height: 57.6px;
    display: none;
    width: 60%;
    text-align: center;
  }
  .button-link {
    background-color: #b3cbd1;
    border-radius: 2px;
    cursor: pointer;
    h5 {
      color: white;
      margin: 6px 10px;
    }
  }
}

@media (min-width: 768px) {
  .service-box-container {
    width: 300px;
    img {
      width: 100px;
      height: 100px;
    }
    p {
      display: block;
    }
  }
}
