.navBar-general-container {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 5%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    cursor: pointer;
  }
}

.nav-links-container {
  display: none;
}

.dropdown-menu {
  width: 100%;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .navBar-general-container {
    transition: 1s;
    top: 0;
    height: 100px;
    &.on-top {
      top: 70px;
    }
  }

  .nav-links-container {
    display: flex;
    width: 400px;
    justify-content: space-between;
  }

  .nav-link {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }

  .menu-mb,
  .dropdown-menu {
    display: none;
  }
}
