#contact-general-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  .contact-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact-title {
      width: 100%;
      h2,
      p {
        text-align: center;
      }
    }
    .contact-box-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
}

@media (min-width: 768px) {
  #contact-general-container {
    padding-top: 50px;
    .contact-container {
      .contact-box-container {
        width: 600px;
        margin-top: 50px;
      }
    }
  }
}
