.carouselAuto-general-container {
  width: 100%;
  height: 100%;
  .carousel-controller {
    position: absolute;
    top: calc(50% - 45px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    .button-container {
      margin: 0 3%;
      .reverse {
        transform: scaleX(-1);
      }
    }
  }
  .image-container {
    width: 100%;
    height: 100%;
    img {
      max-width: 100%;
      height: 100%;
      max-height: 100vh;
      object-fit: cover;
    }
  }
  .points-controller {
    position: absolute;
    margin-top: -45px;
    width: 100%;
    display: flex;
    justify-content: center;
    .point {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0 6px;
      cursor: pointer;
      &.selected {
        background-color: #8f8d92;
      }
    }
  }
}

@media (min-width: 768px) {
  .carouselAuto-general-container {
    .image-container {
      img {
        width: 100%;
      }
    }
  }
}
