.container-general {
  width: 30%;
  .contact-box {
    width: 100%;
    text-decoration: none;
    color: #8f8d92;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    img {
      max-width: 60%;
    }
    p {
      font-size: 16px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .contact-box {
    width: 150px;
    p {
      width: 110px;
    }
  }
}
